.card {
  display: grid;
  width: 250px;
  height: 100%;
  justify-items: center;
  border-width: 1px;
  border: black;
  border-style: solid;
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;

  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-text {

  transform: translateZ(20px);
}


p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
